{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": []
}
// {
//   "presets": ["@babel/preset-env"],
//   "plugins": [["@babel/transform-runtime"]]
// }
